body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

#container {
    height: 500px;
    width: 500px;
    border: 10px solid red;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.square {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}